.git
.gitignore
.env
.env.backup
.env.local
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
.DS_Store
.idea
.vscode
.zed
.cursor
.nova
README.md
